* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*  former class renamed to html element */

h1 {
  display: inline-block;
  font-size: 48px;
}
/*  former class renamed to html element */

#seo {
  color: #d9dcd6;
}
/*  former class renamed to id */

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*  former class renamed to semantic tag */

nav menu {
  list-style-type: none;
}
/*  former class renamed to semantic tag */

nav menu li {
  display: inline-block;
  margin-left: 25px;
}
/*  former class renamed to semantic tag */

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

figure {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("/marianethomson/Horiseon/Assets/images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/*  former class renamed to semantic tag */

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/*  former class renamed to semantic tag */

aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/*  former class renamed to semantic tag */

.benefit {
  margin-bottom: 32px;
  color: #ffffff;
}
/*  former class renamed and applied to reduce code repetition*/

.benefit h3 {
  margin-bottom: 10px;
  text-align: center;
}
/*  former class renamed and applied to reduce code repetition*/

.benefit img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*  former class renamed and applied to reduce code repetition*/

.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*  former class renamed and applied to reduce code repetition*/

.search-engine-optimization img {
  max-height: 200px;
}
/*  former class renamed and applied to reduce code repetition*/

.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*  former class renamed and applied to reduce code repetition*/

footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/*  former class renamed to semantic tag */

footer h2 {
  font-size: 20px;
}
/*  former class renamed to semantic tag */
